[Unit]
Description=Mancala JE
[Service]
User=root
# The configuration file application.properties should be here:
#change this to your workspace
WorkingDirectory=~/.mancalaje
#path to executable. 
#executable is a bash script which calls jar file
ExecStart=/www/mancalaje/mancalaje-service/mancalaje-service
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
